<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-light mb-3 p-3" style="background-color: white;">
    <%= link_to 'Yelp', restaurants_path, class: "navbar-brand" %>
    <%= link_to 'Add a restaurant', new_restaurant_path, class: "btn btn-outline-success" %>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
